<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~  Copyright 2025 XianZhi Group .
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.xianzhi.system.bootstrap.dao.mapper.I18nMapper">

    <select id="pageI18nList" resultType="io.xianzhi.system.model.vo.I18nVO">
        SELECT id,message_title,message_key,message_desc,create_at,create_by FROM sys_i18n where deleted_flag = 1
        <if test="i18nPage.messageTitle != null and i18nPage.messageTitle != ''">
            AND message_title LIKE CONCAT('%', #{i18nPage.messageTitle}, '%')
        </if>
        <if test="i18nPage.messageKey != null and i18nPage.messageKey != ''">
            AND message_key #{i18nPage.messageKey}
        </if>
        <if test="i18nPage.messageDesc != null and i18nPage.messageDesc != ''">
            AND message_desc LIKE CONCAT('%', #{i18nPage.messageDesc}, '%')
        </if>
        ORDER BY create_at DESC

    </select>
</mapper>