<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~  Copyright 2025 XianZhi Group .
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.xianzhi.system.bootstrap.dao.mapper.ResourceMapper">

    <select id="selectAllResource" resultType="io.xianzhi.system.bootstrap.dao.dataobj.ResourceDO">
        SELECT *
        FROM sys_resource
        WHERE deleted_flag = 0
        ORDER BY resource_sorted ASC
    </select>

    <select id="selectResourceById" resultType="io.xianzhi.system.bootstrap.dao.dataobj.ResourceDO">
        SELECT * FROM sys_resource WHERE id = #{id,jdbcType=VARCHAR} and  deleted_flag =0
    </select>

    <select id="selectAllEnableResource" resultType="io.xianzhi.system.bootstrap.dao.dataobj.ResourceDO">
        SELECT * FROM sys_resource WHERE deleted_flag =0 AND enable_flag =1 ORDER BY resource_sorted ASC

    </select>

    <select id="existsResourceByResourceNameAndIdNot" resultType="boolean">
        select ifnull((select 1 from sys_resource where resource_name = #{resourceName,jdbcType=VARCHAR}
        <if test="id != null and id != ''">
            and id != #{id,jdbcType=VARCHAR}
        </if>),0)

    </select>

    <select id="existsResourceByResourceKeyAndIdNot" resultType="boolean">
        select ifnull((select 1 from sys_resource where resource_key = #{resourceKey,jdbcType=VARCHAR}
        <if test="id != null and id != ''">
            and id != #{id,jdbcType=VARCHAR}
        </if>),0)

    </select>

    <select id="selectResourceIdByParentId" resultType="java.lang.String">
        WITH RECURSIVE sub_tree AS (
        -- 初始查询：找到指定父级ID的直接子集
        SELECT id
        FROM sys_resource
        WHERE parent_id = #{parentId,jdbcType=VARCHAR}
        AND deleted_flag = 0

        UNION ALL

        -- 递归查询：找到子集的子集
        SELECT r.id
        FROM sys_resource r
        INNER JOIN sub_tree st ON r.parent_id = st.id
        WHERE r.deleted_flag = 0
        )
        SELECT id
        FROM sub_tree;
    </select>

    <update id="deletedResourceById">
        update sys_resource set deleted_flag = 1 where id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="deletedResourceByParentId">
        UPDATE sys_resource
        SET deleted_flag = 1
        WHERE id IN (
        WITH RECURSIVE sub_tree AS (
        SELECT id
        FROM sys_resource
        WHERE parent_id = #{parentId,jdbcType=VARCHAR}
        AND deleted_flag = 0

        UNION ALL


        SELECT r.id
        FROM sys_resource r
        INNER JOIN sub_tree st ON r.parent_id = st.id
        WHERE r.deleted_flag = 0
        )
        SELECT id
        FROM sub_tree
        );

    </update>
</mapper>